.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar__logo {
  max-width: 120px;
}

.button .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
